<nav>
    <div class='container'>
        <img alt='logo' id='logo'>
        <a href='/' id='title'>Sharaga<sup>β</sup></a>
        <div class='container'>
            <a href='/' class='active'>Active link</a>
            <hr>
            <a href='/mirror'>Mirror</a>
            <hr>
            <a href='/local'>Local</a>
        </div>
    </div>
</nav>