<nav>
  <div class='container'>
    <img alt='logo' id='logo' />
    <a href='/' id='title'>Sharaga</a>
    <input id='menu' type='checkbox' hidden />
    <label for='menu'>
    </label>
    <section id='links'>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='https://www.tu-bryansk.ru/education/schedule/'
      >Расписание</a>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='https://www.tu-bryansk.ru/sveden/employees/'
      >Преподаватели</a>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='http://arm.iipo.tu-bryansk.ru'
      >АРМ</a>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='http://edu.tu-bryansk.ru'
      >ЭИОС</a>
    </section>
  </div>
</nav>