<nav>
    <div class='container'>
        <img alt='logo' id='logo'>
        <a href='/' id='title'>Sharaga<sup>β</sup></a>
        <div class='container'>
            <a href='/mirror' {{#if type.mirror}} class='active' {{/if}}>Mirror</a>
            <hr>
            <a href='/local' {{#if type.local}} class='active' {{/if}}>Local</a>
        </div>
    </div>
</nav>