<nav>
    <div class='container'>
        <img alt='logo' id='logo'>
        <a href='/' id='title'>Sharaga</a>
        <input id='menu' type='checkbox' hidden>
        <label for='menu'>
        </label>
        <div id='links'>
            <a target='_blank' rel='noopener noreferrer'
                href='https://www.tu-bryansk.ru/education/schedule/?group=%D0%9E-17-%D0%9F%D0%A0%D0%98-%D1%80%D0%BF%D1%81-%D0%91'>Расписание</a>
            <a target='_blank' rel='noopener noreferrer'
                href='https://www.tu-bryansk.ru/sveden/employees/'>Преподаватели</a>
            <a target='_blank' rel='noopener noreferrer' href='http://arm.iipo.tu-bryansk.ru'>АРМ</a>
            <a target='_blank' rel='noopener noreferrer' href='http://edu.tu-bryansk.ru'>ЭИОС</a>
        </div>
    </div>
</nav>