# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# ignore compiled styles
public/style/

# ignore error image(s)
public/error/

# exclude compiled js files
dist/

# ignore pm2 config
pm2.config.json

# ignore app config
config.yaml
