# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# VS Code files
.vscode/

# ignore compiled styles
public/style/

# ignore error image(s)
public/error/

# exclude compiled .js files
*.js

# ignore pm2 config
ecosystem.config.js

# include pm2 example config
!ecosystem.config.example.js