:root {
  --header-text-color: #fff;
  --header-hover-color: #ccc;
  // --table-bg-color: #fafafa;
  --table-text-color: #444;
  --table-link-color: #4682b4;
  --table-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --table-bg-color: #222;
    --table-text-color: #ddd;
    --table-link-color: #87cefa;
    --table-border-color: #555;
  }
}

a {
  tr & {
    color: var(--table-link-color);
    display: block;
    text-decoration: none;
  }

  th & {
    color: var(--table-text-color);
  }

  tr &:hover {
    text-decoration: underline;
  }
}

article {
  overflow-x: auto;
}

h1 {
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: var(--table-bg-color);
  color: var(--table-text-color);
  width: 100%;
}

th {
  font-size: 1.05rem;
  padding: 10px;
  text-align: left;
}

th,
td {
  border: 1px solid var(--table-border-color);
  white-space: nowrap;
  width: 100%;
}

.icon {
  width: auto;

  > img {
    width: 35px;
    height: 35px;
    max-width: none;
    object-fit: contain;
    object-position: center;
  }
}

td {
  padding: 4px 8px;

  &.name {
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
  }
}
