:root {
  --table-bg-color: #fafafa;
  --table-text-color: #444;
  --table-link-color: #4682b4;
  --table-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --table-bg-color: #222;
    --table-text-color: #ddd;
    --table-link-color: #87cefa;
    --table-border-color: #555;
  }
}

header {
  color: var(--header-text-color);
  flex: 0 0 auto;
  font-size: 1.5rem;
  margin: 1.25rem 0;
  scrollbar-width: none;
  text-align: center;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: var(--header-text-color);

    &:hover {
      color: var(--header-hover-color);
    }
  }

  & {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  > div {
    display: inline;
    overflow-x: auto;
    text-overflow: unset;
    white-space: nowrap;
  }

  > a#back {
    background: url('/static/icons/_back.svg') center/contain no-repeat;
    display: inline-block;
    height: 100%;
    margin-right: 1vw;
    min-height: 1.5rem;
    min-width: 1.5rem;

    &:hover {
      filter: invert(25%);
    }
  }
}

main.container {
  justify-content: start;
  overflow-x: auto;

  > h1 {
    margin: auto;
    text-align: center;
  }

  > table {
    border-collapse: collapse;
    width: 100%;

    tr {
      background-color: var(--table-bg-color);
      color: var(--table-text-color);
      width: 100%;

      a {
        color: var(--table-link-color);
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      > th {
        font-size: 1.05rem;
        padding: 10px;
        text-align: left;

        > a {
          color: var(--table-text-color);
        }
      }

      > th,
      > td {
        border: 1px solid var(--table-border-color);
        white-space: nowrap;
        width: 100%;

        &.icon {
          width: 35px;
        }
      }

      > td {
        padding: 4px 8px;

        &.icon > img {
          height: 35px;
        }

        &.name {
          overflow-wrap: break-word;
          white-space: normal;
          word-break: break-word;
        }
      }
    }
  }
  // }
}
