:root {
    --tr-back-color: #fafafa;
    --tr-link-color: #4682b4;
    --td-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --tr-back-color: #222;
        --tr-link-color: #87cefa;
        --td-border-color: #555;
    }
}

header {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    margin: 1.25rem 0;
    font-size: 1.5rem;
    color: var(--header-text-color);

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    a {
        color: var(--header-text-color);

        &:hover {
            color: var(--header-hover-color);
        }
    }

    & {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    > div {
        overflow-x: auto;
        white-space: nowrap;
        text-overflow: unset;
        display: inline;
    }

    > a#back {
        display: inline-block;
        min-width: 1.5rem;
        height: 100%;
        min-height: 1.5rem;
        margin-right: 1vw;
        background: url('/static/icons/_back.svg') center/contain no-repeat;

        &:hover {
            filter: invert(25%);
        }
    }
}

::-webkit-scrollbar {
    width: 11px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-container {
    width: 100%;
    margin: 0 auto auto auto;
    overflow-x: auto;

    > table {
        width: 100%;
        border-collapse: collapse;

        tr {
            width: 100%;
            background-color: var(--tr-back-color);

            a {
                display: block;
                color: var(--tr-link-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            > th {
                text-align: left;
                font-size: 1.05rem;
                padding: 10px 10px;
            }

            > th,
            > td {
                width: 100%;
                border: 1px solid var(--td-border-color);

                white-space: nowrap;

                &.icon {
                    width: 35px;
                }
            }

            > td {
                padding: 4px 8px;

                &.icon > img {
                    height: 35px;
                }

                &.name {
                    white-space: normal;
                    overflow-wrap: break-word;
                    word-break: break-word;
                }
            }
        }
    }
}
