<!-- customize errors -->
<main>
    <h1>{{status}}</h1>
    {{#if image}}
    <img src='/error/{{image}}.jpg' alt='error image' draggable='false'>
    {{/if}}
    <h2>{{message}}</h2>
    {{#if error.stack}}
    <details>
        <summary>Debug info</summary>
        <pre>{{error.stack}}</pre>
    </details>
    {{/if}}
</main>