<!-- customize errors -->
<main>
    <div class='message'>
        <span class='code'>{{status}}.</span> <span class='description'>{{message}}</span>
    </div>
    {{#if image}}
    <div class='image' style="background-image: url('/static/error/{{image}}.jpg')"></div>
    {{/if}}
    {{#if error.stack}}
    <details>
        <summary>Debug info</summary>
        <pre>{{error.stack}}</pre>
    </details>
    {{/if}}
</main>