<main>
    <!-- this should be fixed -->
    <p>Привет! Sharaga - это концептуально новый уровень взаимодействия с ресурсами универа!</p>

    <header>Ссылки</header>

    <div class='links'>
        <a
            href='https://www.tu-bryansk.ru/education/schedule/?group=%D0%9E-17-%D0%9F%D0%A0%D0%98-%D1%80%D0%BF%D1%81-%D0%91'>Расписание</a>
        <a href='ftp://iipo.tu-bryansk.ru/pub/'>FTP сервер</a>
        <a href='http://arm.iipo.tu-bryansk.ru'>АРМ</a>
        <a href='http://edu.tu-bryansk.ru'>ЭИОС (edu/moodle)</a>
        <a href='http://journal.iipo.tu-bryansk.ru/Attestation/Index'>Аттестация</a>
        <a href='http://journal.iipo.tu-bryansk.ru/Home/Index'>Журнал</a>
        <a href='http://www.tu-bryansk.ru/sveden/employees/'>Преподаватели</a>
    </div>
</main>