<!DOCTYPE html>
<html>

<head>
  <title>Sharagaβ - {{title}}</title>
  <meta charset='utf-8'>
  <meta name='theme-color' content='#001c2a'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/{{style}}.css' />
</head>

<body>
  <div class='container'>

    {{> nav}}

    {{{body}}}

    {{> footer}}

  </div>
</body>

</html>