<!DOCTYPE html>
<html>

<head>
  <title>Sharaga - {{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{> nav}}

  {{{body}}}

  {{> footer}}
</body>

</html>