<!DOCTYPE html>
<html>

<head>
    <title>Sharaga{{#if title}} - {{title}}{{/if}}</title>
    <meta charset='utf-8'>
    <meta name='theme-color' content='#001c2a'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/static/style/style.css' />
    <link rel='stylesheet' href='/static/style/{{style}}.css' />
</head>

<body>
    {{> nav}}
    <div class='container'>
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>