main {
    > h1 {
        font-size: 15vh;
    }

    > h2 {
        font-size: 5vh;
    }

    > img {
        max-width: 100%;
        max-height: calc(100vh - 27.5rem); /* use dynamic height!!! */
    }

    > details {
        margin-top: 1.5rem;
    }

    > details[open] > summary + pre {
        animation: appear 0.35s ease-in-out;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
